$screen-size: (
  "sm": 830px,
  "md": 1280px,
);

$desktop-container:1050px;
$main_bg-color:#2B2B2B;
$secondary_bg-color:#3B3B3B;

$txt_color_light:#ffffff;
$txt_color_gray:#CCCCCC;
$txt_color_dark:#2B2B2B;


$btn_bgcolor:#A259FF;
$border_color:#A259FF;
